<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<input id ='red' type="text" value="100" class="dial" data-min="0" data-max="255">
<input id ='green' type="text" value="100" class="dial" data-min="0" data-max="255">
<input id ='blue' type="text" value="100" class="dial" data-min="0" data-max="255">

<div class="square">
	
</div>

<table>
	<tbody>
		
	</tbody>
</table>
